<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TalentWave</title>

  <!-- Stylesheets -->
  <link href="../../../../../static/css/bootstrap.css" rel="stylesheet">
  <link href="../../../../../static/css/style.css" rel="stylesheet">
  <link href="../../../../../static/css/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="../../../../../static/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="../../../../../static/images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body data-anm=".anm">

  <div class="page-wrapper">

    {% include 'components/header.html' %}
    
    <!-- Banner Section Three-->
    <section class="banner-section-three at-home19">
      <div class="auto-container">
        <div class="row">
          <div class="content-column col-lg-7">
            <div class="inner-column">
              <div class="title-box wow fadeInUp">
                <h3 class="text-white">Over 1200+ jobs are <br> waiting for you</h3>
                <div class="text-white">Find Jobs, Employment & Career Opportunities</div>
              </div>
              <!-- Job Search Form -->
              <div class="job-search-form-two wow fadeInUp" data-wow-delay="200ms">
                <form method="post" action="https://creativelayers.net/themes/TalentWave/job-list-v10.html">
                  <div class="row">
                    <div class="form-group col-lg-5 col-md-12 col-sm-12">
                      <label class="title">What</label>
                      <span class="icon flaticon-search-1"></span>
                      <input type="text" name="field_name" placeholder="Job title, keywords, or company">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 location">
                      <label class="title">Where</label>
                      <span class="icon flaticon-map-locator"></span>
                      <input type="text" name="field_name" placeholder="City or postcode">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-3 col-md-12 col-sm-12 btn-box">
                      <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Find Jobs</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Job Search Form -->
              <!-- Popular Search -->
              <div class="popular-searches mt50-md wow fadeInUp" data-wow-delay="400ms">
                <span class="title text-white">Popular Searches : </span>
                <a class="text-white" href="#">Designer</a>,
                <a class="text-white" href="#">Developer</a>,
                <a class="text-white" href="#">Web</a>,
                <a class="text-white" href="#">IOS</a>,
                <a class="text-white" href="#">PHP</a>,
                <a class="text-white" href="#">Senior</a>,
                <a class="text-white" href="#">Engineer</a>,
              </div>
              <!-- End Popular Search -->
              <!-- Fun Fact Section -->
              <div class="fun-fact-section at-home19 pb-0 pt20-md">
                <div class="row">
                  <!--Column-->
                  <div class="counter-column text-start col-sm-3 col-6 wow fadeInUp">
                    <div class="count-box fz30 text-white"><span class="count-text" data-speed="3000" data-stop="9.7216">0</span></div>
                    <h4 class="counter-title text-white fz16">Jobs</h4>
                  </div>

                  <!--Column-->
                  <div class="counter-column text-start col-sm-3 col-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="count-box fz30 text-white"><span class="count-text" data-speed="3000" data-stop="4.782">0</span></div>
                    <h4 class="counter-title text-white fz16">Members</h4>
                  </div>

                  <!--Column-->
                  <div class="counter-column text-start col-sm-3 col-6 wow fadeInUp" data-wow-delay="800ms">
                    <div class="count-box fz30 text-white"><span class="count-text" data-speed="3000" data-stop="5.322">0</span></div>
                    <h4 class="counter-title text-white fz16">Resume</h4>
                  </div>

                  <!--Column-->
                  <div class="counter-column text-start col-sm-3 col-6 wow fadeInUp" data-wow-delay="1200ms">
                    <div class="count-box fz30 text-white"><span class="count-text" data-speed="3000" data-stop="6.329">0</span></div>
                    <h4 class="counter-title text-white fz16">Company</h4>
                  </div>
                </div>
              </div>
              <!-- Fun Fact Section -->
            </div>
          </div>
          <div class="image-column col-lg-5 col-md-12">
            <div class="image-box ms-0 d-none d-xl-block">
              <figure class="main-image wow fadeInRight" data-wow-delay="1500ms"><img class="w-100" src="../../../../../static/images/index-19/hero-img-1.png" alt=""></figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Section Three-->

    <!-- Job Categories -->
    <section class="job-categories">
      <div class="auto-container">
        <div class="d-sm-flex align-items-center justify-content-sm-between wow fadeInUp mb-4 mb-sm-0">
          <div class="sec-title">
            <h2>Browse by Category</h2>
            <div class="text">2020 jobs live - 293 added today.</div>
          </div>
          <a href="#" class="text ud-btn2">See all <i class="fal fa-long-arrow-right"></i></a>
        </div>
        <div class="row wow fadeInUp">
          <!-- Category Block -->
          <div class="category-block-two at-home19 col-xl-2 col-lg-4 col-sm-6">
            <div class="inner-box">
              <div class="content">
                <span class="icon"><img src="../../../../../static/images/index-19/category-1.png" alt=""></span>
                <h4 class="mb-2"><a href="#">Design <br> Creative</a></h4>
                <p class="fz14">43 open positions</p>
              </div>
            </div>
          </div>
          <!-- Category Block -->
          <div class="category-block-two at-home19 col-xl-2 col-lg-4 col-sm-6">
            <div class="inner-box">
              <div class="content">
                <span class="icon"><img src="../../../../../static/images/index-19/category-2.png" alt=""></span>
                <h4 class="mb-2"><a href="#">Sales <br> Marketing</a></h4>
                <p class="fz14">565+ Courses</p>
              </div>
            </div>
          </div>
          <!-- Category Block -->
          <div class="category-block-two at-home19 col-xl-2 col-lg-4 col-sm-6">
            <div class="inner-box">
              <div class="content">
                <span class="icon"><img src="../../../../../static/images/index-19/category-3.png" alt=""></span>
                <h4 class="mb-2"><a href="#">Development <br> IT</a></h4>
                <p class="fz14">43 open positions</p>
              </div>
            </div>
          </div>
          <!-- Category Block -->
          <div class="category-block-two at-home19 col-xl-2 col-lg-4 col-sm-6">
            <div class="inner-box">
              <div class="content">
                <span class="icon"><img src="../../../../../static/images/index-19/category-4.png" alt=""></span>
                <h4 class="mb-2"><a href="#">Engineering <br> Architecture</a></h4>
                <p class="fz14">43 open positions</p>
              </div>
            </div>
          </div>
          <!-- Category Block -->
          <div class="category-block-two at-home19 col-xl-2 col-lg-4 col-sm-6">
            <div class="inner-box">
              <div class="content">
                <span class="icon"><img src="../../../../../static/images/index-19/category-5.png" alt=""></span>
                <h4 class="mb-2"><a href="#">Personal <br> Development</a></h4>
                <p class="fz14">43 open positions</p>
              </div>
            </div>
          </div>
          <!-- Category Block -->
          <div class="category-block-two at-home19 col-xl-2 col-lg-4 col-sm-6">
            <div class="inner-box">
              <div class="content">
                <span class="icon"><img src="../../../../../static/images/index-19/category-6.png" alt=""></span>
                <h4 class="mb-2"><a href="#">finance <br>accounting</a></h4>
                <p class="text">43 open positions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Job Categories -->

    <!-- Job Section -->
    <section class="job-section bgc-home19">
      <div class="auto-container">
        <div class="d-sm-flex align-items-center justify-content-sm-between wow fadeInUp mb-4 mb-sm-0">
          <div class="sec-title">
            <h2>Featured Jobs</h2>
            <div class="text">Know your worth and find the job that qualify your life</div>
          </div>
          <a href="#" class="text ud-btn2">View All Jobs <i class="fal fa-long-arrow-right"></i></a>
        </div>
        <div class="row wow fadeInUp">
          <!-- Job Block -->
          <div class="job-block at-jlv16 col-sm-6">
            <div class="inner-box">
              <div class="tags d-flex align-items-center">
                <a class="far fa-crown" href="#"></a>
                <a class="far fa-bolt" href="#"></a>
                <a class="flaticon-bookmark" href="#"></a>
              </div>
              <div class="content ps-0">
                <div class="d-xl-flex align-items-center">
                  <span class="company-logo position-relative"><img src="../../../../../static/images/resource/company-logo/3-1.png" alt=""></span>
                  <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                    <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
                  </div>
                </div>
                <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                  <li class="time">Full Time</li>
                  <li class="time2">London, UK</li>
                  <li class="time2">11 hours ago</li>
                  <li class="time2">450 - $900/month</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Job Block -->
          <div class="job-block at-jlv16 active col-sm-6">
            <div class="inner-box">
              <div class="tags d-flex align-items-center">
                <a class="far fa-crown" href="#"></a>
                <a class="far fa-bolt" href="#"></a>
                <a class="flaticon-bookmark" href="#"></a>
              </div>
              <div class="content ps-0">
                <div class="d-xl-flex align-items-center">
                  <span class="company-logo position-relative"><img src="../../../../../static/images/resource/company-logo/3-2.png" alt=""></span>
                  <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                    <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
                  </div>
                </div>
                <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                  <li class="time">Full Time</li>
                  <li class="time2">London, UK</li>
                  <li class="time2">11 hours ago</li>
                  <li class="time2">450 - $900/month</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Job Block -->
          <div class="job-block at-jlv16 active col-sm-6">
            <div class="inner-box">
              <div class="tags d-flex align-items-center">
                <a class="far fa-crown" href="#"></a>
                <a class="far fa-bolt" href="#"></a>
                <a class="flaticon-bookmark" href="#"></a>
              </div>
              <div class="content ps-0">
                <div class="d-xl-flex align-items-center">
                  <span class="company-logo position-relative"><img src="../../../../../static/images/resource/company-logo/3-4.png" alt=""></span>
                  <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                    <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
                  </div>
                </div>
                <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                  <li class="time">Full Time</li>
                  <li class="time2">London, UK</li>
                  <li class="time2">11 hours ago</li>
                  <li class="time2">450 - $900/month</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Job Block -->
          <div class="job-block at-jlv16 col-sm-6">
            <div class="inner-box">
              <div class="tags d-flex align-items-center">
                <a class="far fa-crown" href="#"></a>
                <a class="far fa-bolt" href="#"></a>
                <a class="flaticon-bookmark" href="#"></a>
              </div>
              <div class="content ps-0">
                <div class="d-xl-flex align-items-center">
                  <span class="company-logo position-relative"><img src="../../../../../static/images/resource/company-logo/3-3.png" alt=""></span>
                  <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                    <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
                  </div>
                </div>
                <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                  <li class="time">Full Time</li>
                  <li class="time2">London, UK</li>
                  <li class="time2">11 hours ago</li>
                  <li class="time2">450 - $900/month</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Job Block -->
          <div class="job-block at-jlv16 col-sm-6">
            <div class="inner-box">
              <div class="tags d-flex align-items-center">
                <a class="far fa-crown" href="#"></a>
                <a class="far fa-bolt" href="#"></a>
                <a class="flaticon-bookmark" href="#"></a>
              </div>
              <div class="content ps-0">
                <div class="d-xl-flex align-items-center">
                  <span class="company-logo position-relative"><img src="../../../../../static/images/resource/company-logo/3-7.png" alt=""></span>
                  <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                    <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
                  </div>
                </div>
                <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                  <li class="time">Full Time</li>
                  <li class="time2">London, UK</li>
                  <li class="time2">11 hours ago</li>
                  <li class="time2">450 - $900/month</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Job Block -->
          <div class="job-block at-jlv16 col-sm-6">
            <div class="inner-box">
              <div class="tags d-flex align-items-center">
                <a class="far fa-crown" href="#"></a>
                <a class="far fa-bolt" href="#"></a>
                <a class="flaticon-bookmark" href="#"></a>
              </div>
              <div class="content ps-0">
                <div class="d-xl-flex align-items-center">
                  <span class="company-logo position-relative"><img src="../../../../../static/images/resource/company-logo/3-5.png" alt=""></span>
                  <div class="ms-0 ms-xl-3 mt-3 mt-xl-0">
                    <h4 class="fz20 mb-2 mb-lg-0"><a href="#">Software Engineer (Android), Libraries</a></h4>
                    <p class="mb-0">by <span class="fw500 text">CreativeLayers</span> in Design & Creative</p>
                  </div>
                </div>
                <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                  <li class="time">Full Time</li>
                  <li class="time2">London, UK</li>
                  <li class="time2">11 hours ago</li>
                  <li class="time2">450 - $900/month</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Job Section -->

    <!-- CTA 2 Section -->
    <section class="home22-cta-2 at-home19 layout-pt-120 layout-pb-60">
      <div class="auto-container">
        <div class="row align-items-center">
          <!-- Image Column -->
          <div class="image-content position-relative wow fadeInLeft col-xl-6 pe-0">
            <figure class="image-box mb-0"><img class="w-100" src="../../../../../static/images/index-19/about-1.png" alt=""></figure>
          </div>
          <!-- Content Column -->
          <div class="content-column wow fadeInRight col-xl-6">
            <div class="inner-column">
              <div class="mb-0">
                <h2 class="title mb50">Get The Job of Your Dreams Quickly</h2>
                <p class="text-white">Search all the open positions on the web. Get your own <br class="d-none d-lg-block"> personalized salary estimate. Read reviews on over 600,000 <br class="d-none d-lg-block"> companies worldwide.</p>
                <ul class="list-style-one at-home19 mb40 mt40">
                  <li>Bring to the table win-win survival</li>
                  <li>Capitalize on low hanging fruit to identify</li>
                  <li>But I must explain to you how all this</li>
                </ul>
              <a href="#" class="theme-btn btn-style-one bgc-theme-home19 dark-color bdrs12">Get Started <i class="fal fa-long-arrow-right ms-3"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End CTA 2 Section -->

    <!-- Fun Fact Section -->
    <div class="fun-fact-section style-two pt-0 layout-pb-60">
      <div class="auto-container">
        <div class="row wow fadeInUp">
          <!--Column-->
          <div class="counter-column col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
            <div class="count-box dark-color"><span class="count-text" data-speed="3000" data-stop="4">0</span>M</div>
            <h4 class="counter-title">4 million daily active users</h4>
          </div>

          <!--Column-->
          <div class="counter-column col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
            <div class="count-box dark-color"><span class="count-text" data-speed="3000" data-stop="12">0</span>k</div>
            <h4 class="counter-title">Over 12k open job positions</h4>
          </div>

          <!--Column-->
          <div class="counter-column col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
            <div class="count-box dark-color"><span class="count-text" data-speed="3000" data-stop="20">0</span>M</div>
            <h4 class="counter-title">Over 20 million stories shared</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Fun Fact Section -->

    <!-- CTA -->
    <section class="home19-cta-1">
      <div class="auto-container">
        <div class="row align-items-center">
          <!-- Content Column -->
          <div class="col-md-6 col-lg-5 col-sm-12">
            <div class="inner-column mb-3 mb-md-0 wow fadeInRight">
              <div class="mb-4">
                <h2 class="fw-600 mb20 text-white"><span class="theme-color-home19">Collaboration</span> With Top <br>Brands</h2>
                <div class="text-white">To start searching for jobs, you can attend job fairs online or <br class="d-none d-lg-block"> in person, use job boards and career websites or reach out <br class="d-none d-lg-block"> directly to recruiters</div>
              </div>
              <a href="#" class="theme-btn btn-style-one bgc-theme-home19 dark-color bdrs12">View All Brands <i class="fal fa-long-arrow-right ms-3"></i></a>
            </div>

          </div>

          <!-- Image Column -->
          <div class="col-md-6 col-lg-5 offset-lg-1 col-sm-12">
            <figure class="image-box wow fadeInLeft"><img src="../../../../../static/images/index-22/cta-1.png" alt=""></figure>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Our Testimonials -->
    <section class="about-section-two bgc-home19-2">
      <div class="auto-container">
        <div class="row">
          <div class="col-lg-6 mx-auto wow fadeInUp" data-wow-delay="300ms">
            <div class="sec-title text-center">
              <h2>Customer Reviews</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 m-auto wow fadeInUp" data-wow-delay="500ms">
            <div class="testimonial-style2">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade" id="pills-1st" role="tabpanel" aria-labelledby="pills-1st-tab">
                  <div class="testi-content text-md-center">
                    <span class="icon fas fa-quote-left"></span>
                    <h4 class="testi-text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</h4>
                    <h6 class="name">Ali Tufan</h6>
                    <p class="design">Product Manager, Apple Inc</p>
                  </div>
                </div>
                <div class="tab-pane fade show active" id="pills-2nd" role="tabpanel" aria-labelledby="pills-2nd-tab">
                  <div class="testi-content text-md-center">
                    <span class="icon fas fa-quote-left"></span>
                    <h4 class="testi-text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</h4>
                    <h6 class="name">Ali Tufan</h6>
                    <p class="design">Product Manager, Apple Inc</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-3rd" role="tabpanel" aria-labelledby="pills-3rd-tab">
                  <div class="testi-content text-md-center">
                    <span class="icon fas fa-quote-left"></span>
                    <h4 class="testi-text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</h4>
                    <h6 class="name">Ali Tufan</h6>
                    <p class="design">Product Manager, Apple Inc</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-4th" role="tabpanel" aria-labelledby="pills-4th-tab">
                  <div class="testi-content text-md-center">
                    <span class="icon fas fa-quote-left"></span>
                    <h4 class="testi-text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</h4>
                    <h6 class="name">Ali Tufan</h6>
                    <p class="design">Product Manager, Apple Inc</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-5th" role="tabpanel" aria-labelledby="pills-5th-tab">
                  <div class="testi-content text-md-center">
                    <span class="icon fas fa-quote-left"></span>
                    <h4 class="testi-text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</h4>
                    <h6 class="name">Ali Tufan</h6>
                    <p class="design">Product Manager, Apple Inc</p>
                  </div>
                </div>
              </div>
              <div class="tab-list position-relative">
                <ul class="nav nav-pills justify-content-md-center" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link ps-0" id="pills-1st-tab" data-bs-toggle="pill" data-bs-target="#pills-1st" type="button" role="tab" aria-controls="pills-1st" aria-selected="true"><img src="../../../../../static/images/index-19/testi-1.png" alt=""></button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-2nd-tab" data-bs-toggle="pill" data-bs-target="#pills-2nd" type="button" role="tab" aria-controls="pills-2nd" aria-selected="false"><img src="../../../../../static/images/index-19/testi-2.png" alt=""></button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-3rd-tab" data-bs-toggle="pill" data-bs-target="#pills-3rd" type="button" role="tab" aria-controls="pills-3rd" aria-selected="false"><img src="../../../../../static/images/index-19/testi-3.png" alt=""></button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-4th-tab" data-bs-toggle="pill" data-bs-target="#pills-4th" type="button" role="tab" aria-controls="pills-4th" aria-selected="false"><img src="../../../../../static/images/index-19/testi-4.png" alt=""></button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link pe-0" id="pills-5th-tab" data-bs-toggle="pill" data-bs-target="#pills-5th" type="button" role="tab" aria-controls="pills-5th" aria-selected="false"><img src="../../../../../static/images/index-19/testi-5.png" alt=""></button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="about-section-two">
      <div class="auto-container">
        <div class="row align-items-center">
          <!-- Content Column -->
          <div class="content-column col-lg-6 order-2">
            <div class="inner-column wow fadeInRight pt-0">
              <div class="sec-title mb-4">
                <h2>Find a job using TalentWave in 3 <br class="d-none d-xl-block">easy steps</h2>
                <div class="text">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide.</div>
              </div>
              <div class="findjob-process">
                <div class="wrapper mb40">
                  <div class="m-circle text-thm">1</div>
                  <h5 class="title mt15">Register an account to start</h5>
                  <p>Achieve virtually any design and layout from within the one template.</p>
                </div>
                <div class="wrapper mb60">
                  <div class="m-circle before-none text-thm">2</div>
                  <h5 class="title mt15">Computer Science</h5>
                  <p>Achieve virtually any design and layout from within the one template.</p>
                </div>
                <div class="wrapper mb60">
                  <div class="m-circle before-none text-thm">3</div>
                  <h5 class="title mt15">Find the most suitable candidate</h5>
                  <p>Achieve virtually any design and layout from within the one template.</p>
                </div>
              </div>
              <a href="#" class="theme-btn btn-style-one">Get Started Now <i class="fal fa-long-arrow-right ms-3"></i></a>
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 mb-4 mb-lg-0">
            <figure class="image-box wow fadeInLeft mx-0"><img src="../../../../../static/images/index-21/about-1.png" alt=""></figure>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Featured Companies -->
    <section class="top-companies style-four bgc-home19">
      <div class="auto-container">
        <div class="d-sm-flex align-items-center justify-content-sm-between wow fadeInUp mb-4 mb-sm-0">
          <div class="sec-title">
            <h2>Featured Companies Actively Hiring</h2>
            <div class="text">Over 200 Million Jobs</div>
          </div>
          <a href="#" class="text ud-btn2">View All Companies <i class="fal fa-long-arrow-right"></i></a>
        </div>
        <div class="carousel-outer wow fadeInUp">
          <div class="companies-carousel owl-carousel owl-theme default-dots">
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-1.png" alt=""></figure>
                <h4 class="name fw500">Udemy</h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">15 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-2.png" alt=""></figure>
                <h4 class="name fw500">Stripe</h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-3.png" alt=""></figure>
                <h4 class="name fw500">Dropbox</h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-4.png" alt=""></figure>
                <h4 class="name fw500">Figma</h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-1.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">15 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-2.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-3.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-4.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-1.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">15 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-2.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-3.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
            <!-- Company Block -->
            <div class="company-block at-home20">
              <div class="inner-box">
                <figure class="image"><img class="w70" src="../../../../../static/images/index-20/top-company-4.png" alt=""></figure>
                <h4 class="name"></h4>
                <div class="location mb-2 fz16">
                  <span class="me-2 dark-color"><i class="flaticon-map-locator"></i> London, UK</span>
                  <span class="dark-color"><i class="fal fa-users"></i> 10-50</span>
                </div>
                <p class="dark-color fz16 mb-4">Netflix is the world's leading streaming entertainment.</p>
                <a href="#" class="theme-btn btn-style-three">22 Open Position</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Top Companies -->

    <!-- Blog Post -->
    <section class="layout-pt-120 layout-pb-120 border-bottom-1">
      <div class="auto-container">
        <div class="d-sm-flex align-items-center justify-content-sm-between wow fadeInUp mb-4 mb-sm-0">
          <div class="sec-title">
            <h2>Travel Articles</h2>
            <div class="text">Fresh job related news content posted each day.</div>
          </div>
          <a href="#" class="text ud-btn2">View All <i class="fal fa-long-arrow-right"></i></a>
        </div>
        <div class="row wow fadeInUp">
          <!-- Blog Block -->
          <div class="col-lg-4 col-sm-6">
            <div class="blog -type-1 at-home21 mb-4 mb-xl-0">
              <div class="blog-image position-relative mb30">
                <a href="#" class="tag">Designer</a>
                <img class="bdrs12" src="../../../../../static/images/index-21/blog-1.png" alt="image">
              </div>
              <div class="blog-content">
                <div class="d-flex align-items-center">
                  <a href="#" class="date fz15 dark-color">April 06 2023</a><span class="text-border-color mx-2">|</span><a href="#" class="author fz15 dark-color">By Ali Tufan</a></div>
                <h4><a href="#">21 Job Interview Tips: How To Make a Great <br class="d-none d-xl-block"> Impression</a></h4>
              </div>
            </div>
          </div>
          <!-- Blog Block -->
          <div class="col-lg-4 col-sm-6">
            <div class="blog -type-1 at-home21 mb-4 mb-xl-0">
              <div class="blog-image position-relative mb30">
                <a href="#" class="tag">Developer</a>
                <img class="bdrs12" src="../../../../../static/images/index-21/blog-2.png" alt="image">
              </div>
              <div class="blog-content">
                <div class="d-flex align-items-center">
                  <a href="#" class="date fz15 dark-color">April 06 2023</a><span class="text-border-color mx-2">|</span><a href="#" class="author dark-color fz15">By Ali Tufan</a></div>
                <h4><a href="#">10 Ways to Avoid a Referee Disaster <br class="d-none d-xl-block">Zone</a></h4>
              </div>
            </div>
          </div>
          <!-- Blog Block -->
          <div class="col-lg-4 col-sm-6">
            <div class="blog -type-1 at-home21 mb-4 mb-xl-0">
              <div class="blog-image position-relative mb30">
                <a href="#" class="tag">Marketing</a>
                <img class="bdrs12" src="../../../../../static/images/index-21/blog-1.png" alt="image">
              </div>
              <div class="blog-content">
                <div class="d-flex align-items-center">
                  <a href="#" class="date fz15 dark-color">April 06 2023</a><span class="text-border-color mx-2">|</span><a href="#" class="author dark-color fz15">By Ali Tufan</a></div>
                <h4><a href="#">Tips to Keep Your Resume Relevant to the <br class="d-none d-xl-block"> Position</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Blog Post -->

    <!-- Subscribe Section -->
    <section class="subscribe-section at-home19">
      <div class="auto-container">
        <div class="outer-box wow fadeInUp">
          <div class="sec-title">
            <h2 class="mb-3">Subscribe Our Newsletter</h2>
            <div>Advertise your jobs to millions of monthly users and search<br> 15.8 million CVs in our database.</div>
          </div>
          <div class="form-column">
            <div class="subscribe-form">
              <form method="post" action="#">
                <div class="form-group">
                  <div class="response"></div>
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="email bdrs18 border-1" value="" placeholder="Your e-mail" required>
                  <button type="button" id="subscribe-newslatters" class="theme-btn home21-style btn-style-one bdrs18">Subscribe <i class="fal fa-long-arrow-right ms-3"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Subscribe Section -->

    {% include 'components/footer.html' %}

  </div><!-- End Page Wrapper -->

  <script src="../../../../../static/js/jquery.js"></script>
  <script src="../../../../../static/js/popper.min.js"></script>
  <script src="../../../../../static/js/chosen.min.js"></script>
  <script src="../../../../../static/js/bootstrap.min.js"></script>
  <script src="../../../../../static/js/jquery.fancybox.js"></script>
  <script src="../../../../../static/js/jquery.modal.min.js"></script>
  <script src="../../../../../static/js/mmenu.polyfills.js"></script>
  <script src="../../../../../static/js/mmenu.js"></script>
  <script src="../../../../../static/js/appear.js"></script>
  <script src="../../../../../static/js/anm.min.js"></script>
  <script src="../../../../../static/js/ScrollMagic.min.js"></script>
  <script src="../../../../../static/js/rellax.min.js"></script>
  <script src="../../../../../static/js/owl.js"></script>
  <script src="../../../../../static/js/wow.js"></script>
  <script src="../../../../../static/js/script.js"></script>
</body>

</html>