<!-- Main Header-->
<header class="main-header header-shaddow">
  <div class="container-fluid">
    <!-- Main box -->
    <div class="main-box">
      <!--Nav Outer -->
      <div class="nav-outer">
        <div class="logo-box">
          <div class="logo">
            <a href="/"
              ><img src="../../../../../static/images/logo.svg" alt="" title=""
            /></a>
          </div>
        </div>

        <nav class="nav main-menu">
          <ul class="navigation" id="navbar">
            <li class="{% if request.path == '/' %}current{% endif %}">
              <a href="/">
                <span>Home</span>
              </a>
            </li>

            <li class="{% if request.path == '/about-us' %}current{% endif %}">
              <a href="/about-us">
                <span>About Us</span>
              </a>
            </li>

            <li class="{% if request.path == '/faqs' %}current{% endif %}">
              <a href="/faqs">
                <span>FAQ's</span>
              </a>
            </li>

            <li class="{% if request.path == '/contact-us' %}current{% endif %}">
              <a href="/contact-us">
                <span>Contact Us</span>
              </a>
              </li>

            <!-- Only for Mobile View -->
            <li class="mm-add-listing">
              <span>
                <span class="contact-info">
                  <span class="phone-num"
                    ><span>Call us</span
                    ><a href="tel:1234567890">123 456 7890</a></span
                  >
                  <span class="address"
                    >329 Queensberry Street, North Melbourne VIC <br />3051,
                    Australia.</span
                  >
                  <a href="mailto:support@superio.com" class="email"
                    >support@superio.com</a
                  >
                </span>
                <span class="social-links">
                  <a href="#"><span class="fab fa-facebook-f"></span></a>
                  <a href="#"><span class="fab fa-twitter"></span></a>
                  <a href="#"><span class="fab fa-instagram"></span></a>
                  <a href="#"><span class="fab fa-linkedin-in"></span></a>
                </span>
              </span>
            </li>
          </ul>
        </nav>
        <!-- Main Menu End-->
      </div>

      <div class="outer-box">
        <!-- Login/Register -->
        <div class="btn-box">
          <!-- <a
            href="login-popup.html"
            class="theme-btn btn-style-three call-modal"
            >Login / Register</a
          > -->
          {% if session.get('role') == 'candidate' %}
          <a href="/candidate/dashboard" class="theme-btn btn-style-one">
            Continue as Candidate
            <i class="fas fa-arrow-right ml10"></i
          ></a>
          {% elif session.get('role') == 'employer' %}
          <a href="/employer/dashboard" class="theme-btn btn-style-one">
            Continue as Employer
            <i class="fas fa-arrow-right ml10"></i
          ></a>
         {% else %}
          <a href="/auth/login" class="theme-btn btn-style-one">
            Login / Register
            <i class="fas fa-arrow-right ml10"></i
          ></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Header -->
  <div class="mobile-header">
    <div class="logo">
      <a href="/"><img src="../../../../../static/images/logo.svg" alt="" title="" /></a>
    </div>

    <!--Nav Box-->
    <div class="nav-outer clearfix">
      <div class="outer-box">
        <!-- Login/Register -->
        <div class="login-box">
          <a href="/auth/login" class="call-modal"
            ><span class="icon-user"></span
          ></a>
        </div>

        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"
          ><span class="flaticon-menu-1"></span
        ></a>
      </div>
    </div>
  </div>

  <!-- Mobile Nav -->
  <div id="nav-mobile"></div>
</header>
<!--End Main Header -->
