{% extends 'base/no_sidebar_layout.html' %} {% block title %}Available Jobs{%
endblock %} {% block content %}

<!--Page Title-->
<section class="page-title style-two at-jlv17">
  <div class="auto-container">
    <!-- Job Search Form -->
    <div class="hero-at-jlv17 text-start mb30">
      <h1 class="text-white text-start">
        There Are <span class="light-green">93,178</span> Postings Here For you!
      </h1>
      <p class="text-white">
        Discover your next career move, freelance gig, or internship
      </p>
    </div>
    <div class="job-search-form">
      <form
        method="post"
        action="https://creativelayers.net/themes/superio/job-list-v10.html"
      >
        <div class="row">
          <!-- Form Group -->
          <div class="form-group col-lg-4 col-md-12 col-sm-12">
            <span class="icon flaticon-search-1"></span>
            <input
              type="text"
              name="field_name"
              placeholder="Job title, keywords, or company"
            />
          </div>

          <!-- Form Group -->
          <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
            <span class="icon flaticon-map-locator"></span>
            <input
              type="text"
              name="field_name"
              placeholder="City or postcode"
            />
          </div>

          <!-- Form Group -->
          <div class="form-group col-lg-3 col-md-12 col-sm-12 location">
            <span class="icon flaticon-briefcase"></span>
            <select class="chosen-select">
              <option value="">All Categories</option>
              <option value="44">Accounting / Finance</option>
              <option value="106">Automotive Jobs</option>
              <option value="46">Customer</option>
              <option value="48">Design</option>
              <option value="47">Development</option>
              <option value="45">Health and Care</option>
              <option value="105">Marketing</option>
              <option value="107">Project Management</option>
            </select>
          </div>

          <!-- Form Group -->
          <div class="form-group col-lg-2 col-md-12 col-sm-12 text-right">
            <button type="submit" class="theme-btn btn-style-one">
              Find Jobs
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- Job Search Form -->
  </div>
</section>
<!--End Page Title-->

<!-- Listing Section -->
<section class="ls-section">
  <div class="auto-container">
    <div class="filters-backdrop"></div>

    <div class="row">
      <!-- Filters Column -->
      <div class="filters-column hide-left">
        <div class="inner-column">
          <div class="filters-outer">
            <button type="button" class="theme-btn close-filters">X</button>

            <!-- Filter Block -->
            <div class="filter-block">
              <h4>Search by Keywords</h4>
              <div class="form-group">
                <input
                  type="text"
                  name="listing-search"
                  placeholder="Job title, keywords, or company"
                />
                <span class="icon flaticon-search-3"></span>
              </div>
            </div>

            <!-- Filter Block -->
            <div class="filter-block">
              <h4>Location</h4>
              <div class="form-group">
                <input
                  type="text"
                  name="listing-search"
                  placeholder="City or postcode"
                />
                <span class="icon flaticon-map-locator"></span>
              </div>
              <p>Radius around selected destination</p>
              <div class="range-slider-one">
                <div class="area-range-slider"></div>
                <div class="input-outer">
                  <div class="amount-outer">
                    <span class="area-amount"></span>km
                  </div>
                </div>
              </div>
            </div>

            <!-- Filter Block -->
            <div class="filter-block">
              <h4>Category</h4>
              <div class="form-group">
                <select class="chosen-select">
                  <option>Choose a category</option>
                  <option>Residential</option>
                  <option>Commercial</option>
                  <option>Industrial</option>
                  <option>Apartments</option>
                </select>
                <span class="icon flaticon-briefcase"></span>
              </div>
            </div>

            <!-- Switchbox Outer -->
            <div class="switchbox-outer">
              <h4>Job type</h4>
              <ul class="switchbox">
                <li>
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"></span>
                    <span class="title">Freelance</span>
                  </label>
                </li>
                <li>
                  <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                    <span class="title">Full Time</span>
                  </label>
                </li>
                <li>
                  <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                    <span class="title">Internship</span>
                  </label>
                </li>
                <li>
                  <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                    <span class="title">Part Time</span>
                  </label>
                </li>
                <li>
                  <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                    <span class="title">Temporary</span>
                  </label>
                </li>
              </ul>
            </div>

            <!-- Checkboxes Ouer -->
            <div class="checkbox-outer">
              <h4>Date Posted</h4>
              <ul class="checkboxes">
                <li>
                  <input id="check-f" type="checkbox" name="check" />
                  <label for="check-f">All</label>
                </li>
                <li>
                  <input id="check-a" type="checkbox" name="check" />
                  <label for="check-a">Last Hour</label>
                </li>
                <li>
                  <input id="check-b" type="checkbox" name="check" />
                  <label for="check-b">Last 24 Hours</label>
                </li>
                <li>
                  <input id="check-c" type="checkbox" name="check" />
                  <label for="check-c">Last 7 Days</label>
                </li>
                <li>
                  <input id="check-d" type="checkbox" name="check" />
                  <label for="check-d">Last 14 Days</label>
                </li>
                <li>
                  <input id="check-e" type="checkbox" name="check" />
                  <label for="check-e">Last 30 Days</label>
                </li>
              </ul>
            </div>

            <!-- Checkboxes Ouer -->
            <div class="checkbox-outer">
              <h4>Experience Level</h4>
              <ul class="checkboxes square">
                <li>
                  <input id="check-ba" type="checkbox" name="check" />
                  <label for="check-ba">All</label>
                </li>
                <li>
                  <input id="check-bb" type="checkbox" name="check" />
                  <label for="check-bb">Internship</label>
                </li>
                <li>
                  <input id="check-bc" type="checkbox" name="check" />
                  <label for="check-bc">Entry level</label>
                </li>
                <li>
                  <input id="check-bd" type="checkbox" name="check" />
                  <label for="check-bd">Associate</label>
                </li>
                <li>
                  <input id="check-be" type="checkbox" name="check" />
                  <label for="check-be">Mid-Senior level4</label>
                </li>
                <li>
                  <button class="view-more">
                    <span class="icon flaticon-plus"></span> View More
                  </button>
                </li>
              </ul>
            </div>

            <!-- Filter Block -->
            <div class="filter-block">
              <h4>Salary</h4>

              <div class="range-slider-one salary-range">
                <div class="salary-range-slider"></div>
                <div class="input-outer">
                  <div class="amount-outer">
                    <span class="amount salary-amount">
                      $<span class="min">0</span> $<span class="max">0</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Filter Block -->
            <div class="filter-block">
              <h4>Tags</h4>
              <ul class="tags-style-one">
                <li><a href="#">app</a></li>
                <li><a href="#">administrative</a></li>
                <li><a href="#">android</a></li>
                <li><a href="#">wordpress</a></li>
                <li><a href="#">design</a></li>
                <li><a href="#">react</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Column -->
      <div class="content-column col-lg-12">
        <div class="ls-outer">
          <!-- ls Switcher -->
          <div class="ls-switcher at-jlv17">
            <div class="showing-result show-filters">
              <button type="button" class="theme-btn toggle-filters">
                <span class="icon icon-filter"></span> Filter
              </button>
              <div class="text">
                Showing <strong>41-60</strong> of <strong>944</strong> jobs
              </div>
            </div>
            <div class="sort-by">
              <select class="chosen-select">
                <option>New Jobs</option>
                <option>Freelance</option>
                <option>Full Time</option>
                <option>Internship</option>
                <option>Part Time</option>
                <option>Temporary</option>
              </select>

              <select class="chosen-select">
                <option>Show 10</option>
                <option>Show 20</option>
                <option>Show 30</option>
                <option>Show 40</option>
                <option>Show 50</option>
                <option>Show 60</option>
              </select>
            </div>
          </div>

          <div class="row">
            <!-- Job Block -->
            <div class="job-block at-jlv17 active col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-2.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-1.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-3.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-2.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-1.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-3.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-2.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-1.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
            <!-- Job Block -->
            <div class="job-block at-jlv17 col-lg-4 col-sm-6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="far fa-crown" href="#"></a>
                  <a class="far fa-bolt" href="#"></a>
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <span class="company-logo position-relative"
                    ><img
                      class="w60 mb-3"
                      src="../../../../../static/../../../../../static/images/resource/company-logo/3-3.png"
                      alt=""
                  /></span>
                  <h4 class="fz22 mb-2">
                    <a href="#">Software Engineer (Android) Libraries</a>
                  </h4>
                  <p class="mb-2">
                    by <span class="fw500 text">CreativeLayers</span> in Design
                    & Creative
                  </p>
                  <ul class="job-other-info at-jsv6 at-jsv17 mt20 ms-0">
                    <li class="time">Full Time</li>
                    <li class="time2">London, UK</li>
                    <li class="time2">450 - $900/month</li>
                  </ul>
                  <p class="text">220 days left to apply</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <nav class="ls-pagination">
            <ul>
              <li class="prev">
                <a href="#"><i class="fa fa-arrow-left"></i></a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#" class="current-page">2</a></li>
              <li><a href="#">3</a></li>
              <li class="next">
                <a href="#"><i class="fa fa-arrow-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Listing Page Section -->

{% endblock %}
