{% extends 'base/no_sidebar_layout.html' %} {% block title %}{{
job_details_data.title }} - Job Details{% endblock %} {% block content %}

<!-- Job Detail Section -->
<section class="job-detail-section at-jsv7">
  <!-- Alerts Section -->
  {% if alerts %}
  <div class="auto-container mb-4" id="alert-container">
    <div
      class="alert alert-{{ alerts[0] }} alert-dismissible fade show"
      role="alert"
    >
      {{ alerts[1] }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const alertContainer = document.getElementById("alert-container");

      if (alertContainer) {
        const alertType = "{{ alerts[0] }}";
        const alertMessage = "{{ alerts[1] }}";

        // Hide the Bootstrap alert
        alertContainer.style.display = "none";

        // Map Bootstrap alert types to SweetAlert icons
        const iconMap = {
          success: "success",
          warning: "warning",
          danger: "error",
          info: "info",
        };

        const icon = iconMap[alertType] || "info";

        // Show SweetAlert
        Swal.fire({
          icon: icon,
          title: alertType.charAt(0).toUpperCase() + alertType.slice(1),
          text: alertMessage,
          confirmButtonText: "OK",
        });
      }
    });
  </script>
  {% endif %}

  <!-- Upper Box -->
  <div class="upper-box">
    <div class="auto-container">
      <!-- Job Block -->
      <div class="job-block-seven at-jsv7">
        <div class="inner-box row">
          <div class="col-lg-8">
            <div class="position-relative">
              <div class="content ps-0">
                <div class="d-sm-flex align-items-center">
                  <figure class="image mb-sm-0">
                    <img
                      class="rounded-circle w60"
                      src="../../../../../{{ job_details_data.company_logo }}"
                      alt="{{ job_details_data.company_name }}"
                    />
                  </figure>
                  <div class="ms-0 ms-sm-3">
                    <h4 class="fz20 mb-0">
                      <a href="#">{{ job_details_data.title }}</a>
                    </h4>
                    <p>
                      by
                      <span class="fw500 text"
                        >{{ job_details_data.company_name }}</span
                      >
                      in {{ job_details_data.industry }}
                    </p>
                  </div>
                </div>
                <ul class="job-other-info d-sm-flex ms-0 at-jsv7 mt30">
                  <li class="time">{{ job_details_data.job_type }}</li>
                  <li class="time2">
                    {{ job_details_data.city|title }}, {{
                    job_details_data.country|title }}
                  </li>
                  <li class="time2">
                    Posted {{ job_details_data.created_at.strftime('%b %d, %Y')
                    }}
                  </li>
                  <li class="time2">{{ job_details_data.salary }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-lg-end">
              <div class="titles mb-3 mb-sm-0">
                <h4 class="fz20 fw500 mb-1">Application Ends</h4>
                <p class="text mb15">
                  {{ job_details_data.deadline.strftime('%b %d, %Y') }}
                </p>
              </div>
              {% if already_applied %}
              <div class="btn-box mb-0">
                <button
                  type="submit"
                  class="theme-btn btn-style-four w-100"
                  disabled
                  style="
                    cursor: not-allowed;
                    color: #ffffff;
                    background-color: #34a853;
                  "
                >
                  Already Applied <i class="fal fa-check ms-3"></i>
                </button>
              </div>
              {% elif session.get('role') == 'employer' %}
              <div class="btn-box mb-0">
                <button
                  type="submit"
                  class="theme-btn btn-style-eight w-100"
                  disabled
                  style="
                    cursor: not-allowed;
                    color: #ffffff;
                    background-color: #d93025;
                  "
                >
                  Only Candidates Can Apply <i class="fal fa-info-circle ms-3"></i>
                </button>
              </div>
              {% elif not is_completed %}
              <div class="btn-box mb-0">
                <button
                  type="submit"
                  class="theme-btn btn-style-eight w-100"
                  disabled
                  style="
                    cursor: not-allowed;
                    color: #ffffff;
                    background-color: #d93025;
                  "
                >
                  Complete Your Profile to Apply <i class="fal fa-info-circle ms-3"></i>
                </button>
              </div>
              {% else %}
              <form
                action="{{ url_for('candidate_jobs.apply_job', job_id=job_details_data.job_id) }}"
                method="post"
                id="jobApplyForm"
              >
                <div class="btn-box justify-content-lg-end mb-0">
                  <button type="submit" class="theme-btn btn-style-one w-100">
                    Apply For Job <i class="fal fa-long-arrow-right ms-3"></i>
                  </button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="job-detail-outer">
    <div class="auto-container">
      <div class="row">
        <div class="content-column col-lg-8 col-md-12 col-sm-12">
          <div class="job-detail">
            <h4 class="fz30 fw500">Description</h4>
            <p class="text">
              <!-- Add class="list-style-four" to ul to this paragraph -->
              {{ job_details_data.description.replace("<ul", '<ul
              class="list-style-two"')|safe }}
            </p>

            {% if job_details_data.specialisms %}
            <h4>Required Skills</h4>
            <ul class="list-style-four">
              {% for responsibility in job_details_data.specialisms.split(',')
              %} {% if responsibility|trim %}
              <li class="dark-color">
                {{ responsibility if responsibility != 'AI' else 'Artificial
                Intelligence' }}
              </li>
              {% endif %} {% endfor %}
            </ul>
            {% endif %}
          </div>
          <hr class="opacity-100" />

          <!-- Job Skill -->
          <div class="job-skill-widget mb30">
            <h5 class="fz18 fw500">Job Skill</h5>
            <ul
              class="job-other-info at-jsv7 bottom d-sm-flex align-items-center mt20"
            >
              <li class="time2">{{ job_details_data.industry }} Industry</li>
              <li class="time2">{{ job_details_data.career_level }} Level</li>
            </ul>
          </div>

          <!-- Application Ends -->
          <div class="application-end-widget">
            <div class="d-sm-flex justify-content-sm-between">
              <div class="titles mb-3 mb-sm-0">
                <h4 class="fz20 fw500">Application ends</h4>
                <p class="text">
                  {{ job_details_data.deadline.strftime('%b %d, %Y') }}
                </p>
              </div>
              {% if already_applied %}
              <div class="btn-box mb-0">
                <button
                  type="submit"
                  class="theme-btn btn-style-four w-100"
                  disabled
                  style="
                    cursor: not-allowed;
                    color: #ffffff;
                    background-color: #34a853;
                  "
                >
                  Already Applied <i class="fal fa-check ms-3"></i>
                </button>
              </div>
              {% elif session.get('role') == 'employer' %}
              <div class="btn-box mb-0">
                <button
                  type="submit"
                  class="theme-btn btn-style-eight w-100"
                  disabled
                  style="
                    cursor: not-allowed;
                    color: #ffffff;
                    background-color: #d93025;
                  "
                >
                  Only Candidates Can Apply <i class="fal fa-info-circle ms-3"></i>
                </button>
              </div>
              {% elif not is_completed %}
              <div class="btn-box mb-0">
                <button
                  type="submit"
                  class="theme-btn btn-style-eight w-100"
                  disabled
                  style="
                    cursor: not-allowed;
                    color: #ffffff;
                    background-color: #d93025;
                  "
                >
                  Complete Your Profile to Apply <i class="fal fa-info-circle ms-3"></i>
                </button>
              </div>
              {% else %}
              <form
                action="{{ url_for('candidate_jobs.apply_job', job_id=job_details_data.job_id) }}"
                method="post"
                id="jobApplyForm"
              >
                <div class="btn-box justify-content-lg-end mb-0">
                  <button type="submit" class="theme-btn btn-style-one w-100">
                    Apply For Job <i class="fal fa-long-arrow-right ms-3"></i>
                  </button>
                </div>
              </form>
              {% endif %}
            </div>
          </div>

          <!-- Related Jobs -->
          <div class="related-jobs">
            <div class="title-box">
              <h3>Similar jobs</h3>
              <div class="text">
                Similar jobs in {{ job_details_data.industry }}
              </div>
            </div>

            {% if similar_jobs %} {% for job in similar_jobs %}
            <!-- Job Block -->
            <div class="job-block at-jsv6">
              <div class="inner-box">
                <div class="tags d-flex align-items-center">
                  <a class="flaticon-bookmark" href="#"></a>
                </div>
                <div class="content ps-0">
                  <div class="d-sm-flex align-items-center">
                    <figure class="image mb-sm-0">
                      <img
                        class="rounded-circle w60"
                        src="../../../../../{{ job.company_logo }}"
                        alt="{{ job.company_name }}"
                      />
                    </figure>
                    <div class="ms-0 ms-sm-3">
                      <h4 class="fz20 mb-0">
                        <a
                          href="{{ url_for('candidate_jobs.job_details', job_id=job.job_id) }}"
                          >{{ job.title }}</a
                        >
                      </h4>
                      <p>
                        by
                        <span class="fw500 text">{{ job.company_name }}</span>
                        in {{ job.industry }}
                      </p>
                    </div>
                  </div>
                  <ul class="job-other-info d-sm-flex ms-0 at-jsv6 mt30">
                    <li class="time">{{ job.job_type }}</li>
                    <li class="time2">
                      {{ job.city|title }}, {{ job.country|title }}
                    </li>
                    <li class="time2">{{ job.salary }}</li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %} {% else %}
            <div class="text-center py-4">
              <p>No similar jobs found at this time.</p>
            </div>
            {% endif %}
          </div>
        </div>

        <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
          <aside class="sidebar">
            <div class="sidebar-widget at-jsv7">
              <h4 class="widget-title">Job Overview</h4>
              <div class="widget-content">
                <ul class="job-overview at-sv5">
                  <li>
                    <i class="icon flaticon-title"></i>
                    <div class="ml15">
                      <h5>Qualification</h5>
                      <span>{{ job_details_data.qualification }}</span>
                    </div>
                  </li>
                  <li>
                    <i class="icon fal fa-circle-dollar"></i>
                    <div class="ml15">
                      <h5>Offered Salary</h5>
                      <span>{{ job_details_data.salary }}</span>
                    </div>
                  </li>
                  <li>
                    <i class="icon flaticon-map-locator"></i>
                    <div class="ml15">
                      <h5>Location</h5>
                      <span
                        >{{ job_details_data.city|title }}, {{
                        job_details_data.country|title }}</span
                      >
                    </div>
                  </li>
                  <li>
                    <i class="icon icon-calendar"></i>
                    <div class="ml15">
                      <h5>Date Posted</h5>
                      <span
                        >Posted {{ job_details_data.created_at.strftime('%b %d,
                        %Y') }}</span
                      >
                    </div>
                  </li>
                  <li>
                    <i class="icon flaticon-profit"></i>
                    <div class="ml15">
                      <h5>Career Level</h5>
                      <span>{{ job_details_data.career_level }}</span>
                    </div>
                  </li>
                  <li>
                    <i class="icon far fa-mars"></i>
                    <div class="ml15">
                      <h5>Gender</h5>
                      <span>{{ job_details_data.gender }}</span>
                    </div>
                  </li>
                  <li>
                    <i class="icon flaticon-man"></i>
                    <div class="ml15">
                      <h5>Experience</h5>
                      <span>{{ job_details_data.experience }}</span>
                    </div>
                  </li>
                  <li>
                    <i class="icon fal fa-hourglass-end"></i>
                    <div class="ml15">
                      <h5>Deadline</h5>
                      <span
                        >{{ job_details_data.deadline.strftime('%b %d, %Y')
                        }}</span
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <!-- <div class="d-grid mb15">
                <a href="mailto:{{ job_details_data.company_email }}" class="ud-btn-transparent">Send Message</a>
              </div>
              <div class="text-center">
                <div class="social-link-style1">
                  <a class="me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a class="me-3" href="#"><i class="fab fa-twitter"></i></a>
                  <a class="me-3" href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div> -->
            </div>
            <div class="sidebar-widget company-widget at-jsv6">
              <div class="widget-content">
                <div class="company-title">
                  <div class="company-logo">
                    <img
                      src="../../../../../{{ job_details_data.company_logo }}"
                      class="rounded-circle"
                      alt="{{ job_details_data.company_name }}"
                    />
                  </div>
                  <h5 class="company-name">
                    {{ job_details_data.company_name }}
                  </h5>
                  <a href="#" class="profile-link">View company profile</a>
                </div>
                <ul class="company-info">
                  <li>
                    Primary industry:
                    <span>{{ job_details_data.industry }}</span>
                  </li>
                  <li>
                    Company size: <span>{{ job_details_data.team_size }}</span>
                  </li>
                  <li>
                    Founded in: <span>{{ job_details_data.est_since }}</span>
                  </li>
                  <li>
                    Phone: <span>{{ job_details_data.company_phone }}</span>
                  </li>
                  <li>
                    Email: <span>{{ job_details_data.company_email }}</span>
                  </li>
                  <li>
                    Location:
                    <span
                      >{{ job_details_data.city|title }}, {{
                      job_details_data.country|title }}</span
                    >
                  </li>
                </ul>
                <div class="btn-box">
                  <a
                    href="{{ job_details_data.company_website }}"
                    class="theme-btn btn-style-three"
                    >{{ job_details_data.company_website }}</a
                  >
                </div>
                <!-- <div class="d-grid mb15 mt20">
                  <a href="mailto:{{ job_details_data.company_email }}" class="ud-btn-transparent">Send Message</a>
                </div>
                <div class="text-center">
                  <div class="social-link-style1">
                    <a class="me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="me-3" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="me-3" href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="p-0">
              <!-- Location Map -->
              <h4 class="widget-title fz18 mb25 fw500">Location</h4>
              <div class="widget-content">
                <div class="map-outer">
                  {% if job_details_data.embed_code %} {{
                  job_details_data.embed_code|safe }} {% else %}
                  <div class="map-canvas at-sv5"></div>
                  {% endif %}
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Job Detail Section -->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("jobApplyForm");

    form.onsubmit = function (e) {
      e.preventDefault();
      Swal.fire({
        title: "Confirm Your Job Application",
        text: "Are you sure you want to apply for this job?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Apply Job",
        cancelButtonText: "Cancel",
        reverseButtons: true,
        customClass: {
          confirmButton: "theme-btn btn-style-one",
          cancelButton: "theme-btn btn-style-two",
        },
      }).then((result) => {
        if (result.isConfirmed) {
          form.submit();
        }
      });
    };
  });
</script>

{% endblock %}
